@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Your app description page.</h2>
</hgroup>

<article>
    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>
</article>

<script>
    $(document).ready(function () {
        $('#jb').click(function () {
            $('#jb').fadeOut('slow');
        });
    });
</script>
<div id="jb"></div>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>

    <ul>
        <li><a href="~/">Home</a></li>
        <li><a href="~/About">About</a></li>
        <li><a href="~/Contact">Contact</a></li>
    </ul>
</aside>