@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>J Uber Prac</title>
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp2/css/bootstrap.min.css" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400;300' rel='stylesheet' type='text/css'>
        <link href="~/Content/JCustom.css" type="text/css" rel="stylesheet"/>
    </head>

    <body>
        <!-- sidebar menu -->
        <div class="menu">
            <!-- close icon -->
            <div class="icon-close">
                <img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/close.png" alt="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/close.png" />
            </div>
            <!-- menu options -->
            <ul>
                <li><a href="#">3D Modeling, Animation, & Art</a></li>
                <li><a href="#">Game Development</a></li>
                <li><a href="#">C# programming</a></li>
                <li><a href="#">Client-side programming</a></li>
                <li><a href="#">UI/UX/Visual/Interaction design</a></li>
                <li><a href="#">more about Julius</a></li>
            </ul>
        </div>
        <!-- END OF the side bar menu^^-->

        <!-- This will be the main body -->
        <div class="jumbotron">
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script src="~/Scripts/jAppScript.js"></script>

            <div class="icon-menu"> <!-- this will open up the side menu -->
                <img src="~/Images/yellowMenuIcon.png" alt="~/Images/heroAccent.png"/>
                <p>Menu</p>
            </div>

            <h4 id="jStatusHeader" style="color: yellow; margin-left: 50px"><i>There is a lot I know & a lot I don't know yet</i></h4>
            
<!-- this will, for now, be the status update Input-->

            <!-- within the main body is the dropdown menu functionality from the "interactive website 4rm codecademy -->
            <div class="articles container">

                <div class="article">
                    <div class="item row">
                        <div class="col-xs-3">
                            <p class="source">.Net</p>
                        </div>
                        <div class="col-xs-6">
                            <p class="title">Hardcore C# programmer</p>
                        </div>
                        <div class="col-xs-3">
                            <p class="pubdate">Jan.4th 2014</p>
                        </div>
                    </div>
                    <div class="description row">
                        <div class="col-xs-3">
                            <p>&nbsp;</p>
                        </div>
                        <div class="col-xs-6">
                            <h2>origins of a C# ninja</h2>
                            <p>I started Using C# when I started using the Unity game engine in Dec.2012. Prior to this I had no interest what so ever to learn it. I had always been a huge fan of C++ and spent countless hours studying it</p>
                        </div>
                        <div class="col-xs-3">
                            <p>&nbsp;</p>
                        </div>
                    </div> 
                </div>

                <div class="article">
                    <div class="item row">
                        <div class="col-xs-3">
                            <p class="source">Unity3D</p>
                        </div>
                        <div class="col-xs-6">
                            <p class="title">Making games from scratch using a Game Engine & C#</p>
                        </div>
                        <div class="col-xs-3">
                            <p class="pubdate">Dec.4th 2012</p>
                        </div>
                    </div>
                    <div class="description row">
                        <div class="col-xs-3">
                            <p>&nbsp;</p>
                        </div>
                        <div class="col-xs-6">
                            <h2>Self-Proclaimed Game Developer</h2>
                            <p>So I got this idea for a game a few years ago(I mean who doesn't right?) and at the time I believed I was superman(even though I knew Nothing of game development). That didn't work out too well(because it didn't. lol)</p>
                        </div>
                        <div class="col-xs-3">
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </div>

                <div class="article">
                    <div class="item row">
                        <div class="col-xs-3">
                            <p class="source">Blender</p>
                        </div>
                        <div class="col-xs-6">
                            <p class="title">How I make my 3D models & Animations</p>
                        </div>
                        <div class="col-xs-3">
                            <p class="pubdate">Nov.4th 2013</p>
                        </div>
                    </div>
                    <div class="description row">
                        <div class="col-xs-3">
                            <p>&nbsp;</p>
                        </div>
                        <div class="col-xs-6">
                            <h2>I really think I am a kind of good 3D modeler</h2>
                            <p>While I was going to college I always had a Huge interest in 3D. So I majored in software engineering thinking somewhere along the line I'd learn about 3D. After the tons of math and simple I/O coding I decided I'd venture out on my own to learn 3D... And I found Blender.</p>
                        </div>
                        <div class="col-xs-3">
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </div>

                <div class="article">
                    <div class="item row">
                        <div class="col-xs-3">
                            <p class="source">Adobe</p>
                        </div>
                        <div class="col-xs-6">
                            <p class="title">User Interface and Visual Designer... &2D art</p>
                        </div>
                        <div class="col-xs-3">
                            <p class="pubdate">Jan.nth 2014</p>
                        </div>
                    </div>
                    <div class="description row">
                        <div class="col-xs-3">
                            <p>&nbsp;</p>
                        </div>
                        <div class="col-xs-6">
                            <h2>Photoshop and Illustrator</h2>
                            <p>After spending tons and tons of hours studying the Unity Game Engine(okay not tons, but about 300ish hours) I discovered in order to make my own GUI's(at the time I believed I was superman and thought I could do everything by myself) a 2D program. Which brought me to the Industry Standard Adobe design world. Adobe Ps&Ai I later found out are actually Very useful for UI/UX design.</p>
                        </div>
                        <div class="col-xs-3">
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </div>

                <div class="article">
                    <div class="item row">
                        <div class="col-xs-3">
                            <p class="source">Client-Side Technologies</p>
                        </div>
                        <div class="col-xs-6">
                            <p class="title">HTML, CSS, Javascript... and admittedly a jQuery addict</p>
                        </div>
                        <div class="col-xs-3">
                            <p class="pubdate">Feb.1st 2015</p>
                        </div>
                    </div>
                    <div class="description row">
                        <div class="col-xs-3">
                            <p>&nbsp;</p>
                        </div>
                        <div class="col-xs-6">
                            <h2>Coding what I make in Adobe Ai&Ps</h2>
                            <p>Embedding a game into a webpage was not as easy as I thought it was(not using the iframe tag) so I started to study the client side technologies to figure out how. After 100 hours of studying and practice I fell in love with coding web pages</p>
                        </div>
                        <div class="col-xs-3">
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </div>

                <div class="article"><!-- <------miscelleneous article||-->
                    <div class="item row">
                        <div class="col-xs-3">
                            <p class="source">Miscellaneous</p>
                        </div>
                        <div class="col-xs-6">
                            <p class="title">Rigging, Video editing, Materials&Textures(for 3D art), etc.</p>
                        </div>
                        <div class="col-xs-3">
                            <p class="pubdate">2012-2015</p>
                        </div>
                    </div>
                    <div class="description row">
                        <div class="col-xs-3">
                            <p>&nbsp;</p>
                        </div>
                        <div class="col-xs-6">
                            <h2>Other side skills I have</h2>
                            <p>A lot of this stuff I learned how to do while trying to figure out how to do stuff with the aforementioned.</p>
                        </div>
                        <div class="col-xs-3">
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </div>

            </div><!-- <------end of the articles container-->
        </div>
        <!-- END OF ^class="jumbotron"^ -->

    </body>
</html>
